:root {
    --main-bg-color: #eac3cb;
    --title-color: #104547;
}
* {
    box-sizing: border-box;
}
body {
    background-color: aquamarine;
    margin: 0;
    padding: 0;
}

.signout {
    background-color: rgba(167, 125, 193, 0.74);
    position: absolute;
    display: none;
    z-index: 1;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.avatar-img-settings {
    width: 50px;
    height: 50px;
}

.navbar {
    width: 100%;

    top: 0;
    background-color: var(--main-bg-color);
    margin-bottom: 40px;
}

.navbar-nav {
    list-style: none;
    display: flex;
}

.settings {
    display: flex;
    flex-direction: column;
}
