:root {
    --main-bg-color: #eac3cb;
    --title-color: #104547;
}
* {
    box-sizing: border-box;
}
body {
    background-color: var(--title-color);
    margin: 0;
    padding: 0;
}

.signout {
    background-color: rgba(167, 125, 193, 0.74);
    position: absolute;
    display: none;
    z-index: 1;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.avatar-img-settings {
    width: 50px;
    height: 50px;
    background-color: #fff;
}

.navbar {
    width: 100%;
    bottom: 0;
    position: absolute;
    background-color: var(--title-color);
    border: 1px solid #fff;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
}

.navbar a {
    color: var(--main-bg-color);
    font-family: Helvetica;
    font-size: 12pt;
    text-decoration: none;
}
.navbar-brand {
    margin: 0;
}

.navbar-nav {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}
.nav-item {
    margin: 10px 2px;
}

.nav-item input {
    border: 0;
    background-color: rgba(255, 255, 255, 0);
    color: var(--main-bg-color);
    font-family: Helvetica;
    font-size: 12pt;
    padding: 0;
}

.settings {
    display: flex;
    flex-direction: column;
}
